:root {
    --light-golden: #FBD46D;
    --dark: #0B0B0B;
    --golden: #FFC24B;
    --light: #FFF9C0;
    --font-elephant: 'Elephant', sans-serif;
    --font-sahitya: 'Sahitya', sans-serif;
    --font-size-large: 40px;
    --font-weight-bold: 700;
    --line-height-large: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B0B0B; /* Dark background color */
    color: #FFF; /* White text color */
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: transparent; /* Transparent background for navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    text-align: center;
    padding-inline: 16px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 16px;
    background-color: var(--dark); /* Background color */
    overflow: hidden; /* Clip the gradient border within the container */

    /* Gradient border using box-shadow */
    box-shadow: 
        inset -5px 1px 5px -5px var(--golden), /* Gradient on the left side */
        inset 5px 1px 5px -5px var(--golden); /* Gradient on the right side */
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #FFF; /* White link color */
}



.auth-buttons {
    display: flex;
    align-items: center;
}

.signup, .signin {
    color: var(--golden);
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 16px;
    padding: 16px;
    background-color: var(--dark); /* Background color */
    overflow: hidden; /* Clip the gradient border within the container */

    /* Gradient border using box-shadow */
    box-shadow: 
        inset -5px 1px 5px -5px var(--golden), /* Gradient on the left side */
        inset 5px 1px 5px -5px var(--golden); /* Gradient on the right side */
    
}

.logo {
    padding: 15px 0;
    color: var(--golden);
    font-size: larger;
}

.hero {
    height: fit-content; /* Hero section height */
    background-color: #0B0B0B; /* Dark background color */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.hero-logo {
    max-width: 100%;
    height: fit-content;
}
.content-section{
    padding: 2rem;
    text-align: center;
}
.content{
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
    max-height: 100%;
    text-align: left;
   padding: 25px;   
}
 
.content > p {
    padding: 15px;
    margin-top: 30px;
    max-width: 50%;
}

.image {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.5; 
    margin-top:5rem;
}

.foreground-image {
    position: relative;
    z-index: 2;
    width: 40%; /* Adjust as needed */
    height: auto;
    margin-bottom: 2rem;
    box-shadow: 0 0 15px 5px rgba(255, 194, 75, 0.5); /* Golden color shadow */
    border-radius: 25%; /* Makes the shadow circular */
}

.products {
    padding: 2rem;
    text-align: center;
    color: var(--light-golden);
    margin: 1rem;
}

.title {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

.title-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-sahitya), serif; /* Assuming Elephant is a serif font */
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    color: var(--light);
    margin: 0;
}


.title-logo {
    align-self: center;
}

.title-logo img {
    width: 25px; /* Adjust as needed */
    height: auto;
}

.title-line {
    width: 100%; /* Adjust as needed */
    height: 5px;
    background: linear-gradient(90deg, #FFBA41 0%, #0B0B0B 100%);
    margin-top: 10px;
    margin-left: 5rem;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.product-image {
    position: relative;
    z-index: 2;
    width: 150px; /* Adjust as needed */
    height: 180px;
    margin-bottom: 2rem;
    box-shadow: 0 0 15px 5px rgba(255, 194, 75, 0.5); /* Golden color shadow */
    border-radius: 25%; /* Makes the shadow circular */
}

.product {
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.product-title {
    font-family: Sahitya, serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color:var(--light-golden);
}
.shop {
    padding: 2rem;
    text-align: center;
    color: var(--light-golden);
    margin: 1rem;
}
.shop-image{
    width: 350px;
    margin: 25px;
}
.shop-carousel {
    overflow: hidden;
}

.shop-items {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    justify-content: flex-start; /* Adjust as needed */
    gap: 20rem; /* Adjust the gap between items */
    padding: 20px;
    border-radius: 25px;
    transition: transform 0.5s ease; /* Smooth slide transition */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.shop-items::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}



.shop-item {
    flex: 0 0 auto; /* Prevent shrinking */
    width: 800px; /* Adjust width as needed */
    background-color: #555043e1;
    border: transparent;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFC24B; /* Golden color for text */
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transform and filter transition */
    box-sizing: border-box; /* Include padding and border in element's total width */
    display: flex; 
    align-items: center;
}

.shop-item:not(:first-child) {
    filter: blur(4px); /* Blur effect for non-active items */
}

.shop-item:hover {
    transform: scale(1.05); /* Scale effect on hover */
    filter: none; /* Remove blur on hover */
}

.shop-item-heading {
    color: #FFC24B; /* Golden color for text */
    font-family: Sahitya, serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.shop-item-description {
    color: #FFF9C0; /* Light color for text */
    font-family: Sahitya, serif;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.shop-item-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-item-actions > div {
    flex: 1; /* Take remaining space */
}

.shop-item-actions p {
    margin-bottom: 5px;
    font-family: Sahitya, serif;
    font-size: 14px;
    color: #FFC24B; /* Golden color for text */
}

.shop-item-size {
    font-family: Sahitya, serif;
    font-size: 14px;
    padding: 8px;
    background-color: #FFC24B;
    border: none;
    border-radius: 5px;
    color: #0B0B0B;
    margin-right: 10px;
    cursor: pointer;
}

.shop-item-add-to-cart {
    font-family: Sahitya, serif;
    font-size: 14px;
    padding: 8px 16px;
    background-color: #FFC24B;
    border: none;
    border-radius: 5px;
    color: #0B0B0B;
    cursor: pointer;
}
.gallery {
    padding: 2rem;
    text-align: center;
    color: var(--light-golden);
    margin: 1rem;
}
.gallery-images {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px; /* Adjust gap between images */
}

.gallery-image {
    width: 200px; /* Adjust image width as needed */
    height: 200px; /* Keep the aspect ratio square */
    border-radius: 50%; /* Circular shape */
    border: 2px solid #FFC24B; /* Golden border */
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(135, 125, 71);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover entire space */
    display: block;
}

.gallery-image:hover {
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}
.review ,.contact{
    padding: 2rem;
    text-align: center;
    color: var(--light-golden);
    margin: 1rem;
    margin: 20px 0;
}
.review-images {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    padding-inline:20px;
}

.review-image {
    position: relative;
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    border-radius: 50%; /* Circular shape */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.review-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover entire space */
    display: block;
}

.details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: #FFF; /* Text color */
    font-size: 20px;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.review-image:hover {
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.review-image:hover .details {
    display: flex; /* Show details div on hover */
    opacity: 1; /* Show details div on hover */
}

.star{
    font-size: xx-large;
}

.video-image{
    width: 100%;
}

.video-p {
    margin: 25px 20px; /* Adjust top margin as needed */
    padding: 25px;
    font-size: larger;
    text-align: left;
    color: var(--light-golden);
}

.head {
    font-size: 32px;
    text-align: left;
    font-weight: bolder;
    color: var(--golden);
    display: block; /* Ensures block level display */
    margin-bottom: 10px; /* Adds space below the span element */
}
.newsletter {
    font-size: 20px;
    margin: 20px 10px;
    color: var(--golden);
    text-align: center;
    margin-top: 10px; /* Space above the newsletter text */
    position: relative; /* Ensure the pseudo-elements are positioned correctly */
}

.newsletter::before,
.newsletter::after {
    content: "";
    position: absolute;
    top: 50%; /* Align the lines vertically with the text */
    width: 40%; /* Adjust the width of the lines as needed */
    height: 1px; /* Line thickness */
    background-color: var(--golden);
}

.newsletter::before {
    left: 0;
    margin-right: 10px; /* Space between the line and the text */
}

.newsletter::after {
    right: 0;
    margin-left: 10px; /* Space between the line and the text */
}


.email-input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px; /* Space above the input */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to the input */
}

.subscribe-button {
    color: var(--golden);
    padding: 10px 20px;
    margin:20px 10px;
    border-radius: 16px;
    padding: 16px;
    background-color: var(--dark); /* Background color */
    overflow: hidden; /* Clip the gradient border within the container */

    /* Gradient border using box-shadow */
    box-shadow: 
        inset -5px 1px 5px -5px var(--golden), /* Gradient on the left side */
        inset 5px 1px 5px -5px var(--golden); 
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.subscribe-button:hover {
    cursor: pointer;
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.footer {
    background-color: var(--dark);
    color: var(--golden);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-links h3 {
    margin-bottom: 10px;
}

.footer-links p, .footer-links a {
    margin: 5px 0;
    text-decoration: none;
    color: var(--golden);
}

.footer-social {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-social h3 {
    margin-bottom: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.footer-image {
    margin-top: 25px;
    flex: 1 1 150px;
    text-align: right;
}

.footer-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.footer-bottom {
    border-top: 1px solid var(--golden);
    padding: 10px 0;
    margin-top: 20px;
}
