:root {
    --light-golden: #FBD46D;
    --dark: #0B0B0B;
    --golden: #FFC24B;
    --light: #FFF9C0;
    --font-elephant: 'Elephant', sans-serif;
    --font-sahitya: 'Sahitya', sans-serif;
    --font-size-large: 40px;
    --font-weight-bold: 700;
    --line-height-large: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B0B0B;
    color: #FFF;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    text-align: center;
    padding-inline: 16px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 16px;
    background-color: var(--dark);
    overflow: hidden;
    box-shadow:
        inset -5px 1px 5px -5px var(--golden),
        inset 5px 1px 5px -5px var(--golden);
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #FFF;
}



.auth-buttons {
    display: flex;
    align-items: center;
}

.signup,
.signin {
    color: var(--golden);
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 16px;
    padding: 16px;
    background-color: var(--dark);
    overflow: hidden;
    box-shadow:
        inset -5px 1px 5px -5px var(--golden),
        inset 5px 1px 5px -5px var(--golden);

}

.logo {
    padding: 15px 0;
    color: var(--golden);
    font-size: larger;
}

.hero {
    height: fit-content;
    background-color: #0B0B0B;
    display: flex;
    justify-content: center;
}

.hero-logo {
    max-width: 100%;
    height: fit-content;
}

.content-section {
    padding: 2rem;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
    max-height: 100%;
    text-align: left;
    padding: 25px;
}

.content>p {
    padding: 15px;
    margin-top: 30px;
    max-width: 50%;
}

.image {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.5;
    margin-top: 5rem;
}

.foreground-image {
    position: relative;
    z-index: 2;
    width: 40%;
    height: auto;
    margin-bottom: 2rem;
    box-shadow: 0 0 15px 5px rgba(255, 194, 75, 0.5);
    border-radius: 25%;
}

.products {
    padding: 2rem;
    text-align: center;
    color: var(--light-golden);
    margin: 1rem;
}

.title {

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

.title-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-sahitya), serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    color: var(--light);
    margin: 0;
}


.title-logo {
    align-self: center;
}

.title-logo img {
    width: 25px;
    height: auto;
}

.title-line {
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, #FFBA41 0%, #0B0B0B 100%);
    margin-top: 10px;
    margin-left: 5rem;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.product-image {
    position: relative;
    z-index: 2;
    width: 150px;
    height: 180px;
    margin-bottom: 2rem;
    box-shadow: 0 0 15px 5px rgba(255, 194, 75, 0.5);
    border-radius: 25%;
}

.product {

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.product-title {
    font-family: Sahitya, serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: var(--light-golden);
}

.shop {
    padding: 2rem;
    text-align: center;
    color: var(--light-golden);
    margin: 1rem;
}

.shop-image {
    width: 350px;
    margin: 25px;
}

.shop-carousel {
    overflow: hidden;
}

.shop-items {
    display: flex;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 20rem;
    padding: 20px;
    border-radius: 25px;
    transition: transform 0.5s ease;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.shop-items::-webkit-scrollbar {
    display: none;
}



.shop-item {
    flex: 0 0 auto;
    width: 800px;
    background-color: #555043e1;
    border: transparent;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFC24B;
    transition: transform 0.3s ease, filter 0.3s ease;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.shop-item:not(:first-child) {
    filter: blur(4px);
}

.shop-item:hover {
    transform: scale(1.05);
    filter: none;/
}

.shop-item-heading {
    color: #FFC24B;
    font-family: Sahitya, serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.shop-item-description {
    color: #FFF9C0;
    font-family: Sahitya, serif;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.shop-item-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-item-actions>div {
    flex: 1;
}

.shop-item-actions p {
    margin-bottom: 5px;
    font-family: Sahitya, serif;
    font-size: 14px;
    color: #FFC24B;
}

.shop-item-size {
    font-family: Sahitya, serif;
    font-size: 14px;
    padding: 8px;
    background-color: #FFC24B;
    border: none;
    border-radius: 5px;
    color: #0B0B0B;
    margin-right: 10px;
    cursor: pointer;
}

.shop-item-add-to-cart {
    font-family: Sahitya, serif;
    font-size: 14px;
    padding: 8px 16px;
    background-color: #FFC24B;
    border: none;
    border-radius: 5px;
    color: #0B0B0B;
    cursor: pointer;
}

.gallery {
    padding: 2rem;
    text-align: center;
    color: var(--light-golden);
    margin: 1rem;
}

.gallery-images {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.gallery-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #FFC24B;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(135, 125, 71);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.review,
.contact {
    padding: 2rem;
    text-align: center;
    color: var(--light-golden);
    margin: 1rem;
    margin: 20px 0;
}

.review-images {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    padding-inline: 20px;
}

.review-image {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    font-size: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.review-image:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.review-image:hover .details {
    display: flex;
    opacity: 1;
}

.star {
    font-size: xx-large;
}

.video-image {
    width: 100%;
}

.video-p {
    margin: 25px 20px;
    padding: 25px;
    font-size: larger;
    text-align: left;
    color: var(--light-golden);
}

.head {
    font-size: 32px;
    text-align: left;
    font-weight: bolder;
    color: var(--golden);
    display: block;
    margin-bottom: 10px;
}

.newsletter {
    font-size: 20px;
    margin: 20px 10px;
    color: var(--golden);
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.newsletter::before,
.newsletter::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: var(--golden);
}

.newsletter::before {
    left: 0;
    margin-right: 10px;
}

.newsletter::after {
    right: 0;
    margin-left: 10px;
}


.email-input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subscribe-button {
    color: var(--golden);
    padding: 10px 20px;
    margin: 20px 10px;
    border-radius: 16px;
    padding: 16px;
    background-color: var(--dark);
    overflow: hidden;
    box-shadow:
        inset -5px 1px 5px -5px var(--golden),
        inset 5px 1px 5px -5px var(--golden);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.subscribe-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: var(--dark);
    color: var(--golden);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-links h3 {
    margin-bottom: 10px;
}

.footer-links p,
.footer-links a {
    margin: 5px 0;
    text-decoration: none;
    color: var(--golden);
}

.footer-social {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-social h3 {
    margin-bottom: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.footer-image {
    margin-top: 25px;
    flex: 1 1 150px;
    text-align: right;
}

.footer-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.footer-bottom {
    border-top: 1px solid var(--golden);
    padding: 10px 0;
    margin-top: 20px;
}